html,

H2 {
  text-align: center;
  font-size: larger;
  font-family: Luminari;
  }
  
body {
  background-color: #CFC197; /* A changer selon préférence */
  font-family: Arial, sans-serif;
  margin: 0;
  height: 95%; /* Rajout de ce qu'il y avait déjà */
}


/* Style bannière */
.banner {
  background: linear-gradient(90deg, #3BA3A3, #2A8387, #1B4B4B);
  color: white;
  padding: 10px 0;
  text-align: center;
  font-family :Luminari, fantasy;
  font-size: larger;
}

/* Barre de navigation latérale */
.navbar {
  background-color: #CFD8DC; /* A changer selon préférence */
  overflow: hidden;
  display: flex;
  justify-content: center; /* Centrer les éléments horizontalement */
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar ul li {
  padding: 8px 16px; /* Espacement autour des liens */
  text-align: center;
}

.navbar ul li a {
  color: #2A8387;
  text-decoration: none;
  display: block;
}

/* Style du choix quadrillé des sujets de lecture de la documentation A REVOIR */
.grid-container {
  /* display: flex;*/
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  gap: 20px;
  margin: 50px;
}

/* AJOUT GRID-CONTAINER CARTE */
.grid-container2 {
  display: grid;
  grid-template-columns: 70% auto; /* 70% pour la carte, auto pour les informations du point sélectionné */
  height : 100%;
  grid-gap: 20px; /* Espace entre les colonnes */
}

/* Style du contenu de la grille */
.grid-item {
  background-color: #308484;
  padding: 20px;
  border: 2px solid #3BA3A3;
  border-radius: 5px;
}


.grid-item h2 {
  font-size: 1.5em;
  font-family: Arial, sans-serif;
  color:#CFD8DC;
  margin-bottom: 10px;
  text-align: center;
}

.grid-item p {
  font-size: 1em;
  font-family: Arial, sans-serif;
  color:#CFD8DC;
  margin-bottom: 10px;
  text-align: left;
}


/* AJOUT ELEMENTS STYLE CARTE */

#map {
  height: 800px;
  width: 100%;
  border : #2A8387 5px, solid;
  border-radius: 5px;
}

#info {
  font-size: 1.2em;
  font-family: Arial, sans-serif;
  color:black;
  margin-bottom: 10px;
  margin-left: 10px;
  text-align: left;
}

#info h4 {
  font-size: 1.5em;
  font-family: Arial, sans-serif;
  text-decoration: underline;
  color:black;
  margin-bottom: 10px;
  text-align: center;
}


/* Ajout effet couleur hover sur les liens */
a {
  color:#CFD8DC;
  text-decoration: none;
}
a:hover {
  color : #CFC197;
}

/* AJOUT SECTIONS HOME */
.section1 {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
  
}

.section2 {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
 
}

/* AJOUT CONTAINERS HOME */
.img-container {
  max-width: 100%;
  height: auto;
  display: block;
  border: #2A8387 5px, solid;
  border-radius: 5px;
  }

.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.text-container p {
  margin: 0;
  width: 100%;
}

