html,



body {
  background-color: #CFC197; /* A changer selon préférence */
  font-family: Arial, sans-serif;
  margin: 0;
  height: 95%; /* Rajout de ce qu'il y avait déjà */
}

/* Style bannière */
.banner {
  background: linear-gradient(90deg, #3BA3A3, #2A8387, #1B4B4B);
  color: white;
  padding: 10px 0;
  text-align: center;
  font-family :fantasy;
  font-size: large;
}

/* Barre de navigation latérale */
.navbar {
  background-color: #CFD8DC; /* A changer selon préférence */
  overflow: hidden;
  display: flex;
  justify-content: center; /* Centrer les éléments horizontalement */
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar ul li {
  padding: 8px 16px; /* Espacement autour des liens */
  text-align: center;
}

.navbar ul li a {
  color: #2A8387;
  text-decoration: none;
  display: block;
}

/* Contenu principal */
.content {
  margin-left: 220px;
  padding: 20px;
}

/* Style du choix quadrillé des sujets de lecture de la documentation A REVOIR */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

/* Style du contenu de la grille */
.grid-item {
  background-color: #308484;
  padding: 20px;
  border: 1px solid #3BA3A3;
  border-radius: 5px;
}

.grid-item h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

.grid-item p {
  font-size: 1em;
  margin-bottom: 10px;
  text-align: justify;
}
