<!DOCTYPE html>
<html lang="fr">

<!-- Head du site : j'y indique les auteurs, le css à lier, le titre du site -->  
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Equipe Chalands"/>

<!-- Indication lien css des pages du site -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    
    <title> Chaloire </title>
  </head>

 <!-- banière de navigation du site + titre page -->
<body>

{% block banner %}
  <header class ="banner">
  
    <h1 id="titrePage"></h1>

  </header>
  {% endblock %}

  <div class ="navbar">
  
    <nav>
      
      <ul id="navigation">
        
        <li><a href="">Histoire des Chalands de la Loire</a></li> <!-- RAJOUTER LES NOMS PLUS TARD-->
        <li><a href="">La carte</a></li>
        <li><a href="">Glossaire</a></li>
        <li><a href="">Lien utiles</a></li>
       <li><a href="">Nous contacter</a></li>
      
      </ul>
  
    </nav>

  </div>

<!-- Contenu du site qui va apparaitre dans le body -->

<div class="content">
  <H2>{{ title }}</H2>
  {% block content %}
      <!-- Le contenu spécifique à chaque page sera inséré ici -->
  {% endblock %}

</div>
  </body>
</html>