<!--Je prend pour base d'affichage base.html avec la balise extends-->
{% extends 'map/navbar.html' %}

{% block banner %}
  <!-- début du body, j'indique un conteneur, je donne au site un nom, cela pour préparer à une mise en forme css propre -->
  <body>
    <header class ="banner">
        <h1>Chaloire</h1>
    </header>
{% endblock %}
    

{% block content %}
<!-- Contenu du site qui va apparaitre dans le conteneur et sous la barre des onglets --> 
    
    <div id="content">
      <h2>Documentation</h2>
      
      <h3>Quel est le sujet qui vous interresse ?</h3>
      
<!-- Insérer ci dessous la liste quadrillée des sujets écris à consulter (ligne 54 du CSS) REVOIR LES LIENS SUJETS -->

    <div class="grid-container">
        <div class="grid-item">
            <!-- Balises à mettre lorsque les liens sujets seront ajoutés 
            <h2>{{ sujet.title }}</h2>
            <p>{{ sujet.summary }}</p> -->
            <H2>Exemple de titre de sujet de lecture sur site</H2>
            <p>Exemple de texte résumé de sujet de lecture sur site, un appercu de ce qui pourra être lu si le visiteur le souhaite</p>

            <a href="{{ sujet1.html }}">Lire la suite</a>
        </div>
    </div>

<!-- Fin de la partie grille sujet, à retravailler en fonction des sujets ajoutés par la suite -->

    </div>



  </body>
{% endblock %}