{% extends 'map/navbar.html' %}

{% block content %}
<!-- Contenu du site qui va apparaitre dans le conteneur et sous la barre des onglets --> 
<body>
    
      <h2>Liens Utiles</h2>
      <p>Ici pourra être consulté les liens interéressants au sujet des chalands de la Loire.</p>

<!--Ici les liens et leurs containers-->
     
<div class="grid-container">
<!--Première suggestion de lien--> 
    <div class="grid-item">

        <H2>Renumar</H2>
        <p>Ci dessous se trouve le lien d'accès à la page d'accueil de Renumar. Sur Renumar, il est possible de se renseigner plus avant sur le sujet des chalands de la Loire et bien plus : archives, documentation et outil de recherche y sont disponibles. </p>
            <a href="https://renumar.univ-tours.fr">Consulter le site de Renumar</a>
    
    </div> 
    
<!--Deuxième suggestion de lien--> 
    <div class="grid-item">
        
        <H2>Documentation Renumar : Les nautoniers de Loire à travers les actes notariés</H2>
        <p>Ci dessous se trouve le lien d'accès à une page de documentation Renumar traitant des nautoniers de Loire </p>
            <a href="https://renumar.univ-tours.fr/outil/kit-pedagogique-les-nautoniers-de-loire-a-travers-les-actes-notaries/">Consulter la documentation</a>
    </div>

<!--Troisième suggestion de lien--> 

    <div class="grid-item">

    <H2>Archives d'Indre et Loire</H2>
    <p>Ci dessous se trouve le lien d'accès à la page d'accueil des archives numérisées d'Indre et Loire. Il y est possible de se consulter directement les archives numérisées d'Indre et Loire.  </p>
        <a href="https://archives.touraine.fr">Consulter le site des archives d'Indre et Loire</a>

    </div>


<!--Troisième suggestion de lien--> 
<div class="grid-item">
        
    <H2>La carte de Cassini</H2>
    <p>Ci dessous se trouve un lien vers la carte de Cassini complète. Il y est possible de consulter la carte de France de l'époque.</p>
        <a href="https://www.geoportail.gouv.fr/donnees/carte-de-cassini">Consulter la carte de Cassini</a>
</div>



</div>


</body>

{% endblock %}